body {
    margin: 0;
    background-color: #9F1239;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;
}

#home, #guest {
    text-align: center;
}

h3 {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 15px;
}

#score1, #score2 {
    width: 140px;
    height: 80px;
    background-color: #222;
    font-size: 50px;
    color: red;
    font-family: 'Orbitron', sans-serif;
    padding-top: 20px;
    border-radius: 5%;
    margin-top: 0px;
    margin-bottom: 25px;
}

button {
    background-color: #9F1239;
    color: #fff;
    border: 1px solid white;
    border-radius: 5%;
    padding: 8px;
    margin: 0px 3px;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
}

button:hover {
    background-color: #fff;
    color: #9F1239
}
